<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список мероприятий</title>
</head>
<body>
<h1>Список мероприятий</h1>

<table>
    <thead>
    <tr>
        <th>Название</th>
        <th>Описание</th>
        <th>Дата начала</th>
        <th>Дата окончания</th>
        <th>Аудитория</th>
        <th>Статус</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="event : ${events}">
        <td th:text="${event.title}"></td>
        <td th:text="${event.description}"></td>
        <td th:text="${event.startDateTime}"></td>
        <td th:text="${event.endDateTime}"></td>
        <td th:text="${event.classroom.name}"></td>
        <td th:text="${event.status}"></td>
        <td>
            <a th:href="@{/event/{id}(id=${event.eventId})}">Посмотреть</a> <!-- Ссылка на страницу с деталями мероприятия -->
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
