<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Календарь мероприятий</title>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.2.0/dist/fullcalendar.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@3.2.0/dist/fullcalendar.min.css">
</head>
<body>
<h1>Календарь мероприятий</h1>

<div id="calendar"></div>

<script>
  $(document).ready(function() {
      $('#calendar').fullCalendar({
          events: '/events',
          eventRender: function(event, element) {

              if (event.status === 'pending') {
                  element.css('background-color', 'green');
              } else if (event.status === 'partially') {
                  element.css('background-color', 'yellow');
              } else if (event.status === 'approved') {
                  element.css('background-color', 'red');
              }
          }
      });
  });
</script>
</body>
</html>
