<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div class="form-container">
    <h1>Регистрация</h1>

    <!-- Форма регистрации -->
    <form action="/register" method="post">
        <label for="email">Электронная почта:</label>
        <input type="email" id="email" name="email" required placeholder="Введите ваш email">

        <label for="login">Логин:</label>
        <input type="text" id="login" name="login" required placeholder="Введите логин">

        <label for="phoneNumber">Номер телефона:</label>
        <input type="text" id="phoneNumber" name="phoneNumber" required placeholder="Введите номер телефона">

        <label for="password">Пароль:</label>
        <input type="password" id="password" name="passwordHash" required placeholder="Введите пароль">

        <label for="fullName">Полное имя:</label>
        <input type="text" id="fullName" name="fullName" required placeholder="Введите ваше полное имя">

        <button type="submit">Зарегистрироваться</button>
    </form>

    <p>Уже есть аккаунт? <a href="/login">Войти</a></p>
</div>
</body>
</html>
