<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head(pageTitle='Мероприятия')">
  <title>Добавить аудиторию</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="edit-form-container">
  <h1>Добавить аудиторию</h1>
  <form action="/classrooms/create" method="post">
    <div class="form-group">
      <label for="name">Название:</label>
      <input type="text" id="name" name="name" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="capacity">Вместимость:</label>
      <input type="number" id="capacity" name="capacity" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="location">Локация:</label>
      <input type="text" id="location" name="location" class="form-control" required>
    </div>

    <div class="form-group">
      <input type="hidden" name="_status" value="on">
      <label for="status">Статус:</label>
      <input type="checkbox" id="status" name="status" class="form-control" checked>
    </div>

    <div class="form-group">
      <label>Оборудование:</label>
      <div class="checkbox-group">
        <div th:each="equip : ${equipmentList}" class="checkbox-item">
          <input type="checkbox"
                 name="equipmentIds"
                 th:value="${equip.equipmentId}"
                 th:id="'equip-' + ${equip.equipmentId}">
          <label th:for="'equip-' + ${equip.equipmentId}" th:text="${equip.name}"></label>
        </div>
      </div>
    </div>

    <button type="submit" class="btn">Сохранить</button>
  </form>
  <a href="/classrooms" class="btn">Назад</a>
</div>
</body>
</html>
